img.avatar {
    min-height: 15vh;
}
.slot {
    background-size: cover !important;
    width: 4.5em;
    height: 4.5em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-mask {
        @extend .slot;
        background: url('slots/mask.png');
    }
    &-headband {
        @extend  .slot;
        background: url('slots/headband.png');
    }
    &-fairy {
        @extend  .slot;
        background: url('slots/fairy.png');
    }
    &-primary {
        @extend  .slot;
        background: url('slots/main_w.png');
    }
    &-card {
        @extend  .slot;
        background: url('slots/card.png');
    }
    &-secondary{
        @extend  .slot;
        background: url('slots/secondary_w.png');
    }
    &-gloves {
        @extend  .slot;
        background: url('slots/gloves.png');
    }
    &-armor {
        @extend  .slot;
        background: url('slots/armor.png');
    }
    &-shoes {
        @extend  .slot;
        background: url('slots/shoes.png');
    }
    &-ring {
        @extend  .slot;
        background: url('slots/ring.png');
    }
    &-necklet {
        @extend  .slot;
        background: url('slots/necklet.png');
    }
    &-bracelet {
        @extend  .slot;
        background: url('slots/bracelet.png');
    }
    &-bracelet {
        @extend  .slot;
        background: url('slots/bracelet.png');
    }
    &-wing {
        @extend  .slot;
        background: url('slots/wings.png');
    }
    &-empty {
        @extend  .slot;
        background: transparent;
    }
    &-amulet {
        @extend  .slot;
        background: url('slots/amulet.png');
    }
    &-w_skin {
        @extend  .slot;
        background: url('slots/w_skin.png');
    }
    &-c_hat {
        @extend  .slot;
        background: url('slots/c_mask.png');
    }
    &-c_body {
        @extend  .slot;
        background: url('slots/c_body.png');
    }
    &-slot {
        @extend .slot;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: linear-gradient(#999A, #666A);
        border: 4px solid #000;
        border-radius: 4px;
    }
}
.slot > img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.slot > label > img {
    cursor: pointer;
}
.itemRadio:checked + label {
    border: 5px solid #fafafa;
    border-radius: 4px;
    padding: 13px;
    background: #212121;
}
.ms-dd .ms-list-option.option-selected, .ms-dd .ms-optgroup ul .ms-list-option.option-selected {
    background: #424242;
}
.ms-dd .ms-dd-header .option-selected {
    color: white;
}
.ms-dd .ms-list-option, .ms-dd .ms-optgroup ul .ms-list-option {
    color: whitesmoke;
}
.ms-dd .ms-list-option:hover, .ms-dd .ms-optgroup ul .ms-list-option:hover {
    color: #a5a5a5;
}
.ms-dd .ms-options {
    background: #424242;
}
.ms-dd .ms-optgroup:hover {
    background: #3d3d3d;
    color: #fff;
}
.ms-dd .ms-list-option:hover, .ms-dd .ms-optgroup ul .ms-list-option:hover {
    background: #212121;
}
